.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.wrap{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
    padding: 20px;
}
.title{
    font-size: 50px;
}