.container {
    display: flex;
    align-items: center;
    gap: 20%;
    flex-direction: column;
    width: 100%;


}

.pagination {
    margin-top: 30px;
    margin-bottom: 30px;

}
@media screen and (max-width: 800px){
    .container{
        display: flex;
        justify-content: start;

    }
}