.container {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    background-color: #165a72;
    color: snow;
}

.pagination {
    margin-bottom: 30px;

}