.icons{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container{
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: #0f3c4c;


}