.wrap{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scrollButton{
    position:fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}
[data-theme='dark'] {
    background-color: #272c33;
    color:snow;
}
[data-theme='light'] {
    background-color:#DEE4E7;
    color: #37474F;

}

@media screen and (max-width: 800px){
    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}